/* Configuração Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    overflow-x: hidden; /* Evitar rolagem horizontal */
}

/* Container para a Calculadora */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: 20px 0;
}

h1 {
    text-align: center;
    color: #003979;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Formulário da Calculadora */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #003979;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #003979;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #002147;
    transition: 0.5s ease-in-out;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00254e;
}

/* Estilo para o container de instrução */
.container-instrucao {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: 20px 0;
}

.container-instrucao h1 {
    text-align: center;
    color: #00254e;
    margin-bottom: 20px;
}

.container-instrucao p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.container-instrucao ol {
    margin-left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.container-instrucao li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.container-instrucao strong {
    color: #00408a;
}

/* Estilo da seção "Sobre" */
.sobre {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1200px;
    line-height: 1.6;
    font-size: 16px;
}

.sobre h1 {
    font-size: 32px;
    color: #e0a800;
    margin-bottom: 20px;
    border-bottom: 4px solid #003979;
    padding-bottom: 10px;
}

.sobre h2 {
    font-size: 24px;
    color: #003979;
    margin-bottom: 10px;
}

.sobre h3 {
    font-size: 20px;
    color: #0400ff;
    margin-bottom: 10px;
}

.sobre p {
    font-size: 16px;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
}

.sobre p strong {
    color: #e0a800;
}

.sobre h1, .sobre h2, .sobre h3, .sobre p {
    margin-left: 20px;
    margin-right: 20px;
}

.sobre h1, .sobre h2, .sobre h3 {
    margin-top: 40px;
}

/* Estilo para o fundo do popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    display: none; /* Escondido por padrão */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo do conteúdo do popup */
.popup-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo da imagem dentro do popup */
.popup-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease; /* Transição suave para o zoom */
}

/* Botão para fechar o popup */
.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1001;
}

/* Zoom da imagem no popup */
.zoom-in {
    transform: scale(1.5); /* Amplia a imagem em 1.5 vezes */
    cursor: zoom-out; /* Muda o cursor ao ampliar */
}


#caption {
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* Gráfico de Imagens */
.sobre .grafico img {
    width: 100%;
    height: auto;
    max-width: 550px;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.grafico {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.grafico img:hover {
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }

    .container, .container-instrucao, .sobre {
        padding: 15px;
    }

    .sobre h1 {
        font-size: 24px;
    }

    .sobre h2 {
        font-size: 18px;
    }

    .sobre p {
        font-size: 14px;
    }

    .grafico {
        flex-direction: column;
    }

    .grafico img {
        max-width: 100%;
    }

    input, button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .sobre h1 {
        font-size: 20px;
    }

    .sobre h2 {
        font-size: 16px;
    }

    .sobre p {
        font-size: 12px;
    }

    input, button {
        font-size: 12px;
        padding: 10px;
    }
}
